@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    @apply bg-[#F9F9F7] text-gray-900 antialiased font-sans;
  }
  
  /* Smooth scrolling for the whole app */
  * {
    @apply transition-colors duration-200;
    scrollbar-width: none;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
}
